.App {
  padding: 2rem 4rem;
  margin: 2rem auto;
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  max-width: 50rem;
}

.btn {
  margin-right: 1rem;
  border: 1px solid transparent;
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  font-weight: 300;
  min-width: 4.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.primary {
  background-color: #3a5a40;
  color: white;
  border-color: #3a5a40;
  font-weight: 500;
}

.secondary {
  background-color: white;
  color: #3a5a40;
  border-color: #3a5a40;
  font-weight: 500;
}

.tertiary {
  background-color: transparent;
  color: #588157;
  font-weight: 500;
}

input {
  width: 8rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.75rem;
}

p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
